gui/__pycache__/
gui/controls/__pycache__/
models/__pycache__/
sensors/__pycache__/
core/__pycache__/
core/cnc/__pycache__/
core/sensors/__pycache__/
cnc/__pycache__/
designs/bob_esponja/__pycache__/
test.py
